# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarised

**Objectives:**
1. Popular Languages in Data Science
2. Popular Libraries used by Data Scientists
3. Data Science Tools
4. Arithemetic Expressions

Some of the popular languages used in Data Science are:

1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. TensorFlow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ahmed Daud